# CONFIG_BT is not set
# CONFIG_SND_SOC_TAS571X is not set
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_BT is not set
# config CONFIG_SND_SOC_TAS571X is not set
# CONFIG_DRM is not set
# CONFIG_DRM_IGNORE_IOTCL_PERMIT is not set
# CONFIG_DRM_PANEL_SIMPLE is not set
# CONFIG_DRM_ROCKCHIP is not set
# CONFIG_HID is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_NLS is not set
# CONFIG_NLS_CODEPAGE_437 is not set
# CONFIG_NLS_CODEPAGE_936 is not set
# CONFIG_NLS_CODEPAGE_950 is not set
# CONFIG_NLS_DEFAULT is not set
# CONFIG_NLS_ISO8859_1 is not set
# CONFIG_NLS_UTF8 is not set
# CONFIG_ROCKCHIP_VOP is not set
# CONFIG_ROCKCHIP_RGB is not set
# CONFIG_USB_HID is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
# CONFIG_SND_ALOOP is not set
